.mainContainer {
    width: 90vw;
    margin-left: 300px;
}

.innerContainer {
    margin: 0 auto;
}

.innerContainer h2 {
    margin-left: 80px;
}

.mainQuestionContainer {
    padding-left: 10px;
}

.mainQuestionContainer p {
    padding: 0;
    margin: 0;
    margin-left: -7px;
}

.innerContainer .questionRow:nth-child(even) {
    background-color: #f0f0f0; 
  }

  .questionRow{
    padding: 40px 80px;
  }

  .surveyButtons{
    margin-left: 80px;
    margin-bottom: 30px;
    display: flex;
    gap: 15px;
  }